<launch>
    <arg name="config_file"           default="$(find advanced_grasping_tutorials)/config/example_server_config.yaml"/>
    <arg name="bt_folder"             default="$(find advanced_grasping_tutorials)/config/bt"/>
    <arg name="force_overwrite"       default="false"/>


  <!-- Advanced grasping -->
  <include file="$(find pal_bt_grasping_tiago)/launch/advanced_grasping.launch">
    <arg name="config_file"  value="$(arg config_file)"/>
    <arg name="bt_folder"  value="$(arg bt_folder)"/>
    <arg name="force_overwrite"  value="$(arg force_overwrite)"/>
  </include>    


</launch>
